In [2]:
import pandas as pd
import csv
import re
from pathlib import Path

# ---------- config ----------
INPUT_CSV = "IUB_PARKING.csv"   # exported from Excel (columns: TITLE, PERMITS, LATITUDE, LONGITUDE)
OUT_DIR = Path("clean_output")
SEP = "||"  # separator used in your data
MAX_TOKEN_LEN = 500
# ----------------------------

OUT_DIR.mkdir(parents=True, exist_ok=True)

def safe_split_permits(s, sep=SEP):
    """Split permits string on sep safely, remove empty tokens, strip whitespace, and normalize quotes/backslashes."""
    if pd.isna(s):
        return []
    # Convert to str
    s = str(s)
    # Normalize common unicode quirks and newlines
    s = s.replace('\r', ' ').replace('\n', ' ').strip()
    # Replace multiple whitespace with single space
    s = re.sub(r'\s+', ' ', s)
    # Defensive: escape backslashes and keep quotes safe for CSV
    s = s.replace('\\', '\\\\').replace('"', '\"')
    # Split on sep
    parts = [p.strip() for p in s.split(sep)]
    # Drop empties and very long garbage tokens
    parts = [p for p in parts if p and len(p) <= MAX_TOKEN_LEN]
    return parts

def normalize_name(name):
    """Normalize names for deduping (keeps original for output)."""
    if pd.isna(name):
        return None
    return re.sub(r'\s+', ' ', str(name).strip())

def sql_escape(val):
    """Escape single quotes for SQL insertion (basic)."""
    if val is None:
        return 'NULL'
    s = str(val).replace("'", "''")
    return f"'{s}'"

def main():
    # load staging CSV
    df = pd.read_csv(INPUT_CSV, dtype=str, keep_default_na=False, na_values=[''])
    # expected columns: TITLE, PERMITS, LATITUDE, LONGITUDE (case-insensitive)
    cols = {c.lower(): c for c in df.columns}
    # Map columns
    title_col = cols.get('title') or cols.get('lot') or df.columns[0]
    permits_col = cols.get('permits') or df.columns[1] if len(df.columns) > 1 else df.columns[1] if len(df.columns) > 1 else df.columns[0]
    lat_col = cols.get('latitude') or cols.get('lat') or None
    lon_col = cols.get('longitude') or cols.get('lon') or None

    # Clean lots dataframe (unique by title)
    df['title_clean'] = df[title_col].astype(str).apply(normalize_name)
    # Keep latitude/longitude if present and parse to numeric
    if lat_col and lon_col and lat_col in df.columns and lon_col in df.columns:
        df['latitude'] = pd.to_numeric(df[lat_col], errors='coerce')
        df['longitude'] = pd.to_numeric(df[lon_col], errors='coerce')
    else:
        df['latitude'] = None
        df['longitude'] = None

    lots_df = df[['title_clean','latitude','longitude']].drop_duplicates(subset=['title_clean']).rename(
        columns={'title_clean':'title'}
    ).reset_index(drop=True)

    # Build permits set and lot_permit edges (title -> permit_name)
    permits_set = set()
    edges = []
    for _, row in df.iterrows():
        title = normalize_name(row['title_clean'])
        raw_permits = row[permits_col] if permits_col in row else ""
        parts = safe_split_permits(raw_permits, SEP)
        for p in parts:
            p_norm = normalize_name(p)
            if not p_norm:
                continue
            permits_set.add(p_norm)
            edges.append((title, p_norm))

    # Create permits dataframe
    permits_df = pd.DataFrame(sorted(list(permits_set)), columns=['name']).reset_index(drop=True)

    # Create lot_permit df (title + permit_name)
    lot_permit_df = pd.DataFrame(edges, columns=['title','permit_name']).drop_duplicates().reset_index(drop=True)

    # Export CSVs
    lots_out = OUT_DIR / "lots_clean.csv"
    permits_out = OUT_DIR / "permits_clean.csv"
    lot_permit_out = OUT_DIR / "lot_permit_clean.csv"

    lots_df.to_csv(lots_out, index=False, quoting=csv.QUOTE_MINIMAL)
    permits_df.to_csv(permits_out, index=False, quoting=csv.QUOTE_MINIMAL)
    lot_permit_df.to_csv(lot_permit_out, index=False, quoting=csv.QUOTE_MINIMAL)

    # Produce robust SQL file that ensures IDs are correct using INSERT ... SELECT
    sql_out = OUT_DIR / "inserts.sql"
    with open(sql_out, "w", encoding="utf8") as f:
        f.write("-- Auto-generated SQL by clean_permits.py\n")
        f.write("-- 1) Insert permits (id assigned by DB)\n")
        for _, r in permits_df.iterrows():
            name = r['name']
            f.write(f"INSERT IGNORE INTO permits (name) VALUES ({sql_escape(name)});\n")
        f.write("\n-- 2) Insert lots (id assigned by DB)\n")
        for _, r in lots_df.iterrows():
            title = r['title'] if pd.notna(r['title']) else ''
            lat = r['latitude'] if pd.notna(r['latitude']) else None
            lon = r['longitude'] if pd.notna(r['longitude']) else None
            lat_sql = 'NULL' if lat is None or str(lat).strip()=='' else str(lat)
            lon_sql = 'NULL' if lon is None or str(lon).strip()=='' else str(lon)
            f.write(f"INSERT IGNORE INTO lots (title, latitude, longitude) VALUES ({sql_escape(title)}, {lat_sql}, {lon_sql});\n")
        f.write("\n-- 3) Insert lot_permit by joining inserted lots & permits to get correct IDs\n")
        f.write("-- This guarantees lot_id and permit_id are the actual DB-assigned keys.\n")
        # For each mapping generate an INSERT ... SELECT to join by title/name
        for _, r in lot_permit_df.iterrows():
            title = r['title']
            permit = r['permit_name']
            # Use INSERT IGNORE to avoid duplicates; join on exact title/name equality (trim in DB if necessary)
            f.write(
                "INSERT IGNORE INTO lot_permit (lot_id, permit_id)\n"
                f"SELECT l.lot_id, p.permit_id FROM lots l JOIN permits p ON p.name = {sql_escape(permit)}\n"
                f"WHERE l.title = {sql_escape(title)};\n"
            )
        f.write("\n-- End of generated SQL\n")

    # Print previews and paths
    print("Wrote CSVs to:", OUT_DIR.resolve())
    print("lots_clean.csv rows:", len(lots_df))
    print("permits_clean.csv rows:", len(permits_df))
    print("lot_permit_clean.csv rows:", len(lot_permit_df))
    print("SQL file with INSERTs:", sql_out.resolve())
    print("\nNext steps:")
    print("1) Open the SQL file in MySQL Workbench and run it against your database (parking_proj).")
    print("2) Or run: mysql -u <user> -p --local-infile=1 parking_proj <", sql_out.resolve())

if __name__ == "__main__":
    main()

Wrote CSVs to: C:\Users\harsh\OneDrive\Desktop\Study_Materials\College_Course\Fall25\ADT\Project\Data\main_data\clean_output
lots_clean.csv rows: 169
permits_clean.csv rows: 39
lot_permit_clean.csv rows: 479
SQL file with INSERTs: C:\Users\harsh\OneDrive\Desktop\Study_Materials\College_Course\Fall25\ADT\Project\Data\main_data\clean_output\inserts.sql

Next steps:
1) Open the SQL file in MySQL Workbench and run it against your database (parking_proj).
2) Or run: mysql -u <user> -p --local-infile=1 parking_proj < C:\Users\harsh\OneDrive\Desktop\Study_Materials\College_Course\Fall25\ADT\Project\Data\main_data\clean_output\inserts.sql

In [3]:
import pandas as pd

# Load CSV
df = pd.read_csv(r"C:\Users\harsh\OneDrive\Desktop\Study_Materials\College_Course\Fall25\ADT\Project\Data\main_data\building_parking_distance_matrix.csv")

# Rename first column to src (it was "Unnamed: 0")
df.rename(columns={df.columns[0]: "src"}, inplace=True)

# Convert wide â†’ long format
long_df = df.melt(
    id_vars="src",             # column to keep
    var_name="dest",            # new column name for headers
    value_name="distance_value"  # new column name for cell values
)

# Save to new CSV (optional)
long_df.to_csv("building_parking_distance_long.csv", index=False)

long_df.head()

                          src                dest  distance_value
0      Atwater Parking Garage  1000 N INDIANA AVE            1418
1     Fee Lane Parking Garage  1000 N INDIANA AVE             760
2  Forrest Ave Parking Garage  1000 N INDIANA AVE             510
3      Headley School Parking  1000 N INDIANA AVE            1891
4    Henderson Parking Garage  1000 N INDIANA AVE            1151

In [6]:
!pip install -U pandas

Requirement already satisfied: pandas in c:\users\harsh\anaconda3\lib\site-packages (2.2.3)
Collecting pandas
  Using cached pandas-2.3.3-cp39-cp39-win_amd64.whl (11.4 MB)
Requirement already satisfied: pytz>=2020.1 in c:\users\harsh\anaconda3\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\harsh\anaconda3\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: numpy>=1.22.4 in c:\users\harsh\anaconda3\lib\site-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\harsh\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in c:\users\harsh\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

ERROR: Could not install packages due to an OSError: [WinError 5] Access is denied: 'C:\\Users\\harsh\\anaconda3\\Lib\\site-packages\\~andas.libs\\msvcp140-0f2ea95580b32bcfc81c235d5751ce78.dll'
Consider using the `--user` option or check the permissions.

Installing collected packages: pandas
  Attempting uninstall: pandas
    Found existing installation: pandas 2.2.3
    Uninstalling pandas-2.2.3:
      Successfully uninstalled pandas-2.2.3

In [9]:
import pandas as pd
from sqlalchemy import create_engine

engine = create_engine("mysql+pymysql://root:root@host:3306/adt_project")

df = pd.read_csv("clean_output//building_parking_distance_long.csv")  # ensure columns match staging
# df.to_sql("staging_lot_building_distance", engine, if_exists="append", index=False, chunksize=5000, method="multi")

In [10]:
df.head()

            lot_title_raw   building_name_raw  distance_sec_raw
0                 Lot 442  1000 N INDIANA AVE              1418
1                 Lot 255  1000 N INDIANA AVE               760
2                 Lot 238  1000 N INDIANA AVE               510
3  Headley School Parking  1000 N INDIANA AVE              1891
4                 Lot 424  1000 N INDIANA AVE              1151

In [3]:
import mysql.connector

In [5]:
config = {
  'user': 'root',
  'password': 'admin',
  'host': '127.0.0.1',
  'port': 3306,
  'database': 'adt_project',
  'raise_on_warnings': True
}

db_connect=mysql.connector.connect(**config)

In [12]:
import pandas as pd
import mysql.connector

df = pd.read_csv(r"clean_output\building_parking_distance_long.csv")

conn = mysql.connector.connect(**config)
cur = conn.cursor()

# optional: clear staging
cur.execute("TRUNCATE TABLE staging_lot_building_distance")
conn.commit()

insert_sql = """
INSERT INTO staging_lot_building_distance
(lot_title_raw, building_name_raw, distance_sec_raw)
VALUES (%s, %s, %s)
"""

data = list(df.itertuples(index=False, name=None))

chunk = 5000
for i in range(0, len(data), chunk):
    cur.executemany(insert_sql, data[i:i+chunk])
    conn.commit()

cur.close()
conn.close()